@using ProduceExchange.Models
@model ProduceExchange.Models.OrderModels

@{
    ViewBag.Title = "Details";
    ApplicationDbContext db = new ApplicationDbContext();
    var client = db.clientData.Find(Model.orderClient);
    var productType = db.productTypeData.Find(Model.orderType);
    var productCat = db.categoryData.Find(Model.orderCategory);
    var productVariety = db.productData.Find(Model.orderVariety);

    string clientName = client.clientLName + ", " + client.clientFName + " | Business: " + client.businessName;
}

<h2>Details</h2>

<div>
    <h4>OrderModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => clientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => productType.setProductTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => productCat.categoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderVariety)
        </dt>

        <dd>
            @Html.DisplayFor(model => productVariety.productVariety)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderDollars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDollars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
