@using ProduceExchange.Models
@model ProduceExchange.Models.categoryModels

@{
    ViewBag.Title = "Details";
    ApplicationDbContext db = new ApplicationDbContext();
}

<h2>Details</h2>

<div>
    <h4>categoryModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productType)
        </dt>
        <dd>
            @Html.DisplayFor(model => db.productTypeData.Find(model.productType).setProductTypes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.categoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryDiscription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
